.post {
  figure {
    text-align: center;

    img {
      max-width: 100%;
    }
  }

  > div {
    margin: 5rem auto;
  }

  h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    color: var(--heading);
  }
}

.postInfo {
  display: flex;
  align-items: center;

  list-style: none;
  margin-top: 1.56rem;

  li {
    display: flex;
    align-items: center;
    color: var(--info);
    font-size: .9rem;

    svg {
      margin-right: .5rem;
    }

    & + li {
      margin-left: 1.56rem;
    }
  }
}

.postContent {
  margin-top: 4rem;

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--heading);
  }

  p, ul li {
    color: var(--body);
    font-size: 1rem;
    line-height: 1.8rem;
  }

  p + p {
    margin-top: 1.2rem;
  }

  ul {
    padding-left: 1.5rem;

    li + li {
      margin-top: 1rem;
    }
  }
}


.pagination {
  border-top: 1px solid var(--body);
  padding-top: 3rem;
  padding-bottom: 5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    span {
      display: block;
      font-size: 1.1rem;
      color: var(--heading);
    }

    strong {
      display: block;
      margin-top: 0.5rem;
      color: var(--highlight);
      font-weight: 600;
    }
  }
}

.next {
  margin-left: auto;
}
